body {
  margin: 0;
    font-family: sans-serif;
    text-align: center;
  background: blanchedalmond;
}
* {
  border: 4px solid lightpink;
}         

.flex-container {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  display: block;
  
  
  
  
  
}
div .a{
  display: flex;
min-height: 30vh;
justify-content: space-between;


}
div .b{
  display: flex;
min-height: 60vh;
justify-content: space-between;
margin-top: 20px;
margin-bottom: 20px;


}

div .c{
display: flex;
min-height: 30vh;
justify-content: space-between;

}
@media (min-width: 600px) {
  .container{
    
    
}
div .b {

}
  div .c{
    width: 100%;
    flex-direction: column;
  }
}